<div class="row">
  <div class="col-md-3">
    <%= gravatar_for user, size: 55 %>
  </div>
  <div class="col-md-9">
    <h4>
      <%= user.name %>
    </h4>
    <%= link_to t(:edit_profile), edit_user_path(user) if current_user?(user) %>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-12">
    <%= render "shared/stats", user: user %>
    <br/>
    <% if logged_in? %>
      <%= render "shared/follow_form", user: user %>
      <br/>
    <% end %>
  </div>
</div>
