<div class="row">
  <div class="col-md-12">
    <div class="pull-right">
      <%= link_to new_admin_category_path, class: "btn btn-primary" do %>
        <span class="glyphicon glyphicon-plus-sign"></span>
        <%= t :create_new %>
      <% end %>
    </div>
  </div>
</div>
<br/>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t :categories %></h3>
  </div>
  <% if @categories.any? %>
    <div class="list-group">
      <%= render @categories %>
    </div>
  <div class="text-center">
    <%= will_paginate %>
  </div>
<% end %>
</div>
