<!DOCTYPE html>
<html>
<head>
  <title><%= full_title yield(:title)  %></title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": true %>
  <%= javascript_include_tag "application", "data-turbolinks-track": true %>
  <%= csrf_meta_tags %>
  <%= render "layouts/shim" %>
</head>
<body>
  <%= render "layouts/header" %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <%= render "shared/flash_messages" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <% if logged_in? %>
          <%= render "shared/user_info", user: current_user %>
          <%= yield :side_bar %>
          <%= render "shared/menu_learn" %>
          <%= render "shared/menu_management" if current_user.admin %>
        <% end %>
      </div>
      <div class="col-md-9">
        <%= yield %>
      </div>
    </div>
  </div>
  <%= render "layouts/footer" %>
</body>
</html>
