<!DOCTYPE html>
<html>
<head>
  <title><%= full_title yield(:title)  %></title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": true %>
  <%= javascript_include_tag "application", "data-turbolinks-track": true %>
  <%= csrf_meta_tags %>
  <%= render "layouts/shim" %>
</head>
<body>
  <%= render "layouts/header" %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <%= render "shared/user_info", user: current_user %>
        <%= yield :side_bar %>
        <%= render "shared/menu_learn" if logged_in? %>
      </div>
      <div class="col-md-6">
        <%= render "shared/flash_messages" %>
        <%= yield %>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
  <%= render "layouts/footer" %>
</body>
</html>
